*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
public/documents/AADHAR-CARD_1750158427_720 (1).pdf
public/documents/mini_project_documentation_updated (4).pdf
public/documents/mini_project_documentation_updated (5).pdf
public/event_images/Saptara.jpg
public/event_images/adventurelogo.png
public/profile_photos/68d138a65ce9620250922.jpg
public/profile_photos/68d3dd703836820250924.jpg
public/profile_photos/68d50acda063720250925.jpg